@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* 
colors
-web-academy-faces-bg: #ededf0; 
-contact-area: color: #399eef;
-subtitle: color: #4595cc;
-faces: color: #ededf0;
-footer: #444444; 
-footer size: 60px;
*/

body { 
  font-family: 'Roboto', sans-serif;
}

.navbar { 
  border-top: 8px solid #399eef;
  padding: 29px 0;
}

.navbar-light .navbar-brand {
  color: #399eef;
  font-size: 30px; 
  font-weight: 300; 
  letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #399eef;
}

.navbar-light { 
  background-color: #fff;
}

/* 
#text-content { 
  text-align: center;
  padding-top: 20%;
}
*/

#title { 
  background: url("../img/hero.jpg") center center / cover no-repeat;
}

h2 { 
  color: #399eef;
}

h5, h6 { 
  color: #4595cc;
}

h5 + p, h6 + p { 
  font-size: 12.6px;
  line-height: 20px;
}

.card, .card-img, .card-img-top {
  border-radius: 0;
  border: none;
}

#contact-details { 
  background-color: #399eef;;
}

a, a:hover { 
  color: #fff;
  text-decoration: none;
}

.btn-primary, .btn-primary:hover { 
  background-color: #fff;
  color: #399eef;
  border: none;
}

#footer { 
  background-color: #444444;
  font-size: 14px;
}